<!-- eslint-disable -->
<template>
  <div class="w-full">
    <div class="bg-white rounded-md px-3 sm:px-10 pt-6">
      <nuxt-link :to="`/chuyen-muc/${detailPost.CategoryAi}`">
        <h5
          v-if="detailPost.CategoryName"
          class="text-orange-500 text-base leading-snug font-bold rounded bg-orangeHit-200 px-2 py-1 inline"
        >
          {{ detailPost.CategoryName }}
        </h5>
      </nuxt-link>
      <h1 class="text-2.5xl sm:text-4xl mt-2 text-blackHit-500 leading-8 sm:leading-11 font-bold">
        {{ detailPost.Title }}
      </h1>
      <div class="text-gray-400 text-sm leading-4 sm:text-sm sm:leading-5 flex items-center mt-4">
        <nuxt-link :to="`/dau-bao/${detailPost.PublisherCode}`"> {{ detailPost.PublisherShortName }}</nuxt-link>
        <DotDivider class="mx-1" /> {{ detailPost.PublishedAt }}
      </div>
      <p class="text-xl leading-7.5 text-blackHit-500 font-semibold mt-6">{{ detailPost.Abstract }}</p>
      <div class="mt-4 relative">
        <div class="contentInternal" v-html="detailPost.Contents"></div>
        <p v-if="!isViewMore" class="text-sm text-blackHit-500 leading-5 mt-2">
          Nguồn: <a class="text-blue-600" :href="detailPost.PostedUrl" target="blank">Link gốc</a>
        </p>
        <div v-if="!isViewMore" class="mt-6">
          <span
            v-for="tag in filteredTags"
            :key="tag.Id"
            class="inline-block bg-gray-100 rounded px-3 py-1 text-sm leading-4 font-semibold text-gray-200 mr-2 mb-2"
          >
            <nuxt-link :to="`/tags/${tag.Code}`"><span class="text-orange-500">#</span> {{ tag.Tag }} </nuxt-link>
          </span>
        </div>
        <div v-if="isViewMore" class="blur-bg"></div>
        <div
          v-if="isViewMore"
          style="transform: translate(-50%, -50%)"
          class="absolute z-100 left-1/2 bottom-0"
          @click="showDetail()"
        >
          <div class="flex items-center rounded-md px-6 py-3 bg-orange-500 cursor-pointer">
            <span class="text-white text-base leading-5">Xem toàn bộ</span>
            <IconDropDown class="ml-2 text-white fill-current" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { getPostDetail, getPostById } from '@/repositories/child/PostRepository'
import { splitUrl } from '@/utils/splitUrlSlug.js'
import { fromUUID, toUUID } from '@/utils/uuid.js'
import IconDropDown from '@/assets/images/detailpost/drop-down.svg'
export default {
  components: {
    DotDivider,
    IconDropDown
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isViewMore: true,
      detailPost: Object.assign({}, this.post)
    }
  },
  computed: {
    filteredTags() {
      return this.detailPost.Tags.filter((tag) => tag.IsShow === 1)
    }
  },
  methods: {
    async showDetail() {
      this.isViewMore = false
      if (this.detailPost.UrlSlug !== '') {
        const slug = this.detailPost.UrlSlug
        const res = await getPostDetail(splitUrl(slug))
        this.detailPost.Contents = res.data.Data.Contents
        const resolved = this.$router.resolve({ name: 'slug', params: { slug } })
        history.pushState({}, '', resolved.href)
      } else {
        const createId = fromUUID(this.detailPost.Id)
        const res = await getPostById(toUUID(createId))
        this.detailPost.Contents = res.data.Data.Contents
        const resolved = this.$router.resolve({
          name: 'slug-shortid',
          params: { slug: this.detailPost.Code, shortid: createId }
        })
        history.pushState({}, '', resolved.href)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.contentInternal {
  /deep/ a {
    @apply text-blue-600;
  }
  /deep/ p {
    @apply text-blackHit-500 text-xl leading-7.5 mt-4;
  }

  /deep/ strong {
    @apply text-xl text-blackHit-500 mt-6;
  }

  /deep/ p.caption {
    max-width: 100%;
    @apply mt-0 text-center text-sm leading-7.5 bg-red-100;
  }

  /deep/ img {
    @apply rounded-t-lg object-cover w-full align-middle mt-4;
  }

  /deep/ video {
    @apply w-full mt-4;
  }
}
.blur-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
  left: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  bottom: 0;
  padding: 2rem 1rem 2rem;
}
</style>
