<template>
  <div>
    <h2 class="text-gray-900 text-2.5xl leading-8 font-bold">
      Kết quả tìm kiếm cho: <span class="text-gray-900 text-xl leading-6 font-normal">{{ $nuxt.$route.query.q }}</span>
    </h2>
    <div class="mt-8">
      <div
        v-for="(publisher, index) in listPublisher"
        :key="publisher.Id"
        v-observe-visibility="index === listPublisher.length - 1 ? lazyLoadArticles : false"
        class="inline-block bg-white rounded px-3 py-2 text-xl leading-6 font-normal mr-3 mb-3 publisher"
      >
        <div class="flex items-center">
          <nuxt-link :to="`/publisher/${publisher.vietnamplus}`">
            <div class="w-16 h-16 publisher__img flex items-center justify-center">
              <img class="w-12" :src="publisher.LogoUrl" :alt="publisher.Title" />
            </div>
          </nuxt-link>
          <nuxt-link class="ml-3" :to="`publisher/${publisher.vietnamplus}`">
            <span class="text-gray-900">{{ publisher.ShortName }}</span>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { searchTopic } from '@/repositories/child/SearchRepository'
export default {
  async fetch() {
    try {
      await searchTopic('publisher', this.$nuxt.$route.query.q, this.pageSize, this.page).then(({ data }) => {
        if (data.Data.length) {
          this.listPublisher.push(...data.Data)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: true,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 20,
      isDone: false,
      listPublisher: []
    }
  },
  computed: {
    q() {
      return this.$route.query.q || ''
    }
  },
  watch: {
    async q() {
      this.page = 1
      this.listPublisher = []
      await this.$fetch()
    }
  },
  layout: 'search',
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head: {
    title: 'Tìm kiếm'
  }
}
</script>
<style lang="scss" scoped>
.publisher {
  border-radius: 40px;
  &__img {
    border: 1px solid #f2f2f2;
    border-radius: 100px;
  }
}
</style>
