<template>
  <div class="bg-white px-4 py-3 rounded-lg">
    <h6 class="text-sm leading-4 font-bold text-gray-800 pb-3 border-b border-gray-100">
      {{ isVideos ? 'Top Video Trong Ngày' : 'Top tin Trong Ngày' }}
    </h6>
    <thumb-post v-for="post in news" :key="post.SubPost.Id" :is-videos="isVideos" :post="post" />
  </div>
</template>
<script>
export default {
  props: {
    isVideos: {
      type: Boolean,
      required: true
    },
    news: {
      type: Array,
      required: true
    }
  }
}
</script>
