<template>
  <div>
    <loader-detail v-if="$fetchState.pending" />
    <detail-post v-if="!$fetchState.pending && detailPost" :detail-post="detailPost"> </detail-post>
    <div v-if="!$fetchState.pending && detailPost" ref="related" class="flex flex-wrap">
      <div class="w-full ml-auto">
        <related-news />
        <lazy-component>
          <recommend-news />
        </lazy-component>
      </div>
    </div>
  </div>
</template>
<script>
import { getPostDetail } from '@/repositories/child/PostRepository'
import { splitUrl } from '@/utils/splitUrlSlug.js'
import { toTimeAgo } from '@/utils/formatTime.js'
export default {
  async fetch() {
    try {
      const res = await getPostDetail(splitUrl(this.$nuxt.$route.params.slug))
      res.data.Data.PublishedAt = toTimeAgo(res.data.Data.PublishedAt)
      this.detailPost = res.data.Data
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: false,
  data() {
    return {
      detailPost: {}
    }
  },
  activated() {
    // Call fetch again if last fetch more than 60 sec ago
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  }
}
</script>
