<template>
  <div>
    <template v-if="$fetchState.pending && listPosts.length === 0">
      <loader-home :screen-size="screenSize" />
    </template>
    <template v-if="listPosts.length > 0">
      <slide-top-category :posts="listSlideTop" />
    </template>
    <post-category
      v-for="(post, index) in listPosts"
      :key="post.Id"
      v-observe-visibility="index === listPosts.length - 1 ? lazyLoadArticles : false"
      class="mt-3"
      :post="post"
    />
    <template v-if="$fetchState.pending && listPosts.length">
      <loader-list-post :screen-size="screenSize" />
    </template>
  </div>
</template>
<script>
import { getPostsByCategory, getPostsByCategoryFirst } from '@/repositories/child/CategoryRepository'
import { capitalize } from '@/utils/capitalize.js'
import { setThumb } from '@/utils/setThumb.js'
import { toTimeAgo } from '@/utils/formatTime.js'
export default {
  async fetch() {
    try {
      if (this.page === 1) {
        await getPostsByCategoryFirst(this.pageSize, this.page, this.$nuxt.$route.params.slug).then(({ data }) => {
          if (data.Data.length) {
            data.Data[0].ListSlide.map((item) => {
              item.map((i) => {
                i.ThumbUrl = setThumb(i.ThumbImageUrls[0], this.screenSize >= 561 ? '4xLarge4x2' : '2xLarge')
                i.PublishedAt = toTimeAgo(i.PublishedAt)
              })
            })
            this.listSlideTop = data.Data[0].ListSlide
            const tempPosts = data.Data.slice(1, data.Data.length)
            this.listPosts.push(...tempPosts)
          } else {
            this.isDone = true
          }
        })
      } else {
        await getPostsByCategory(
          this.pageSize,
          this.page,
          this.$nuxt.$route.params.slug,
          this.listPosts[this.listPosts.length - 1].Id
        ).then(({ data }) => {
          if (data.Data.length) {
            this.listPosts.push(...data.Data)
          } else {
            this.isDone = true
          }
        })
      }
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: false,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 10,
      isDone: false,
      listPosts: [],
      listSlideTop: []
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head() {
    return {
      title: this.$route.params.slug && `${capitalize(this.$route.params.slug)}`
    }
  }
}
</script>
