<template>
  <div>
    <div
      v-for="(video, index) in listVideos"
      :key="video.Id"
      v-observe-visibility="index === listVideos.length - 1 ? lazyLoadArticles : false"
      class="first:mt-0 mt-3"
    >
      <VideoPlayer
        :id="video.Id"
        :video="video"
        :url="video.Contents[0].Url.replace('.m3u8', '.mp4')"
        :thumb-url="video.ThumbUrl"
      />
    </div>
  </div>
</template>
<script>
import { getVideos, getVideosFirst } from '@/repositories/child/PostRepository'
export default {
  async fetch() {
    try {
      if (this.page === 1) {
        await getVideosFirst(this.pageSize, this.page).then(({ data }) => {
          if (data.Data.length) {
            this.listVideos.push(...data.Data)
          } else {
            this.isDone = true
          }
        })
      } else {
        await getVideos(this.pageSize, this.page, this.listVideos[this.listVideos.length - 1].Id).then(({ data }) => {
          if (data.Data.length) {
            this.listVideos.push(...data.Data)
          } else {
            this.isDone = true
          }
        })
      }
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: true,
  layout: 'video',
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 5,
      isDone: false,
      listVideos: []
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head() {
    return {
      title: 'Video'
    }
  }
}
</script>
<style lang="scss" scoped>
.publisher {
  border-radius: 40px;
  &__img {
    border: 1px solid #f2f2f2;
    border-radius: 100px;
  }
}
</style>
