<template>
  <div>
    <h1 v-if="listPosts.length !== 0" class="font-bold text-base sm:text-2.5xl leading-6">
      Báo {{ listPosts[0].PublisherShortName }}
    </h1>
    <hr />
    <template v-if="$fetchState.pending && listPosts.length === 0">
      <loader-list-post :screen-size="1000" />
    </template>
    <base-post
      v-for="(post, index) in listPosts"
      :key="index"
      v-observe-visibility="index === listPosts.length - 1 ? lazyLoadArticles : false"
      class="first:mt-6 mt-3"
      :post="post"
    />
    <template v-if="$fetchState.pending && listPosts.length">
      <loader-list-post :screen-size="1000" />
    </template>
  </div>
</template>
<script>
import { getPostsByPublisherFirst, getPostsByPublisher } from '@/repositories/child/PublisherRepository'
import { capitalize } from '@/utils/capitalize.js'
export default {
  async fetch() {
    try {
      if (this.page === 1) {
        await getPostsByPublisherFirst(this.pageSize, this.page, this.$nuxt.$route.params.slug).then(({ data }) => {
          if (data.Data.length) {
            this.listPosts.push(...data.Data)
          } else {
            this.isDone = true
          }
        })
      } else {
        await getPostsByPublisher(
          this.pageSize,
          this.page,
          this.$nuxt.$route.params.slug,
          this.listPosts[this.listPosts.length - 1].Id
        ).then(({ data }) => {
          if (data.Data.length) {
            this.listPosts.push(...data.Data)
          } else {
            this.isDone = true
          }
        })
      }
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: false,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 10,
      isDone: false,
      listPosts: [],
      publisherDetail: {}
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head() {
    return {
      title: this.$route.params.slug && `${capitalize(this.$route.params.slug)}`
    }
  }
}
</script>
<style lang="scss" scoped>
hr {
  background-color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
