<template>
  <content-loader :height="510" primary-color="#f3f3f3" secondary-color="#ecebeb">
    <rect x="0" y="0" rx="3" ry="3" width="80" height="100" />
    <rect x="85" y="5" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="25" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="80" rx="3" ry="3" width="80" height="10" />

    <rect x="0" y="120" rx="3" ry="3" width="80" height="100" />
    <rect x="85" y="125" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="145" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="205" rx="3" ry="3" width="80" height="10" />

    <rect x="0" y="245" rx="3" ry="3" width="80" height="100" />
    <rect x="85" y="250" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="270" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="330" rx="3" ry="3" width="80" height="10" />

    <rect x="0" y="370" rx="3" ry="3" width="80" height="100" />
    <rect x="85" y="375" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="395" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="455" rx="3" ry="3" width="80" height="10" />

    <rect x="0" y="495" rx="3" ry="3" width="80" height="100" />
    <rect x="85" y="500" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="520" rx="3" ry="3" width="310" height="15" />
    <rect x="85" y="580" rx="3" ry="3" width="80" height="10" />
  </content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
