<template>
  <div v-if="listRecommends.length > 0" class="mt-10">
    <h5 class="text-center text-base leading-5.5 font-bold text-gray-400 mb-6">Tin Gợi Ý</h5>
    <post-recommend v-for="post in listRecommends" :key="post.Id" :post="post" class="mt-4 last:mb-24 lg:last:mb-0" />
  </div>
</template>
<script>
import { getNewsRecommend } from '@/repositories/child/PostRepository'
import { splitUrl } from '@/utils/splitUrlSlug.js'
import { toTimeAgo } from '@/utils/formatTime.js'
export default {
  async fetch() {
    await getNewsRecommend(splitUrl(this.$nuxt.$route.params.slug))
      .then((res) => {
        res.data.Data.map((item) => {
          item.PublishedAt = toTimeAgo(item.PublishedAt)
        })
        this.listRecommends = res.data.Data
      })
      .catch((err) => {
        console.log(err)
      })
  },
  data() {
    return {
      listRecommends: []
    }
  }
}
</script>
