<template>
  <div>
    <h2 class="text-gray-900 text-2.5xl leading-8 font-bold">
      Kết quả tìm kiếm cho: <span class="text-gray-900 text-xl leading-6 font-normal">{{ $nuxt.$route.query.q }}</span>
    </h2>
    <div class="mt-8">
      <span
        v-for="(tag, index) in listHashtags"
        :key="tag.Id"
        v-observe-visibility="index === listHashtags.length - 1 ? lazyLoadArticles : false"
        class="inline-block bg-white rounded px-3 py-2 text-xl leading-4 font-semibold text-gray-200 mr-3 mb-3"
      >
        <nuxt-link :to="`/tags/${tag.Code}`"><span class="text-orange-500">#</span> {{ tag.Tag }} </nuxt-link>
      </span>
    </div>
  </div>
</template>
<script>
import { searchTopic } from '@/repositories/child/SearchRepository'
export default {
  async fetch() {
    try {
      await searchTopic('hashtag', this.$nuxt.$route.query.q, this.pageSize, this.page).then(({ data }) => {
        if (data.Data.length) {
          this.listHashtags.push(...data.Data)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: true,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 20,
      isDone: false,
      listHashtags: []
    }
  },
  computed: {
    q() {
      return this.$route.query.q || ''
    }
  },
  watch: {
    async q() {
      this.page = 1
      this.listHashtags = []
      await this.$fetch()
    }
  },
  layout: 'search',
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head: {
    title: 'Tìm kiếm'
  }
}
</script>
