<template>
  <div class="w-full">
    <div class="container pr-0 lg:pr-20">
      <div
        ref="carousel"
        v-swiper:myDirectiveSwiper="swiperOptions"
        class="swiper-container rounded-lg"
        :options="swiperOptions"
      >
        <div class="swiper-wrapper flex">
          <div v-for="item in listRelated" :key="item.Id" class="swiper-slide flex flex-col">
            <div class="h-48 sm:h-32">
              <nuxt-link v-if="item.UrlSlug !== ''" :to="`/${item.UrlSlug}`">
                <img :src="item.ThumbUrl" :alt="item.Title" class="w-full h-full object-cover rounded-t-lg" />
              </nuxt-link>
              <nuxt-link v-else :to="`/${item.Code}/${createUuid(item.Id)}`">
                <img :src="item.ThumbUrl" :alt="item.Title" class="w-full h-full object-cover rounded-t-lg" />
              </nuxt-link>
            </div>
            <div class="text-left pt-1 w-full bg-white rounded-b-lg flex-auto mt-auto">
              <nuxt-link v-if="item.UrlSlug !== ''" :to="`/${item.UrlSlug}`">
                <h2 class="mx-2 text-base font-semibold text-gray-900 leading-5 truncate-3-lines">
                  {{ item.Title }}
                </h2>
              </nuxt-link>
              <nuxt-link v-else :to="`/${item.Code}/${createUuid(item.Id)}`">
                <h2 class="mx-2 text-base font-semibold text-gray-900 leading-5 truncate-3-lines">
                  {{ item.Title }}
                </h2>
              </nuxt-link>
            </div>
            <div class="px-2 mt-3 mb-2 w-full text-gray-400 text-xs leading-4 flex items-center">
              <nuxt-link :to="`/dau-bao/${item.PublisherCode}`"> {{ item.PublisherShortName }}</nuxt-link>
              <DotDivider class="mx-1" /> {{ item.PublishedAt }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center mt-4">
      <span class="leading-5.5 px-2 py-1 text-base font-bold bg-orangeHit-600 text-white rounded-full">
        {{ listRelated.length }} tin
      </span>
      <div class="flex">
        <div class="swiper-prev swiper-custom mr-1"><LeftArrow /></div>
        <div class="swiper-next swiper-custom ml-1"><RightArrow /></div>
      </div>
    </div>
  </div>
</template>
<script>
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
import { fromUUID } from '@/utils/uuid'
import DotDivider from '@/assets/images/common/DotDivider.svg'
import LeftArrow from '@/assets/images/detailpost/angle-left.svg'
import RightArrow from '@/assets/images/detailpost/angle-right.svg'
export default {
  directives: {
    swiper: directive
  },
  components: {
    DotDivider,
    LeftArrow,
    RightArrow
  },
  props: {
    listRelated: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      swiperOptions: {
        loop: false,
        slidesPerView: 2,
        breakpoints: {
          640: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 4
          }
        },
        spaceBetween: 12,
        centeredSlides: false,
        watchSlidesVisibility: true,
        navigation: {
          nextEl: '.swiper-next',
          prevEl: '.swiper-prev'
        }
      }
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
.slider-wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  @apply rounded-lg;
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide {
  opacity: 0.25;
  height: unset !important;
}

.swiper-container {
  overflow: visible;
}
.swiper-slide-visible {
  opacity: 1;
}

.swiper-custom {
  @apply bg-white p-2 rounded-lg;
}

.swiper-custom {
  @apply text-neutralLightHit-300 fill-current;
  &:focus {
    outline-style: none;
  }
}

.swiper-button-disabled {
  @apply text-neutralLightHit-200 fill-current;
  &:focus {
    outline-style: none;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
</style>
