<template>
  <div v-if="screenSize > 1200">
    <content-loader :height="400" primary-color="#f3f3f3" secondary-color="#ecebeb">
      <rect x="0" y="0" rx="3" ry="3" width="230" height="172" />
      <rect x="236" y="0" rx="3" ry="3" width="164" height="40" />
      <rect x="236" y="44" rx="3" ry="3" width="164" height="40" />
      <rect x="236" y="88" rx="3" ry="3" width="164" height="40" />
      <rect x="236" y="132" rx="3" ry="3" width="164" height="40" />

      <rect x="0" y="180" rx="8" ry="8" width="112" height="70" />
      <rect x="118" y="182" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="194" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="210" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="220" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="236" rx="5" ry="5" width="60" height="8" />

      <rect x="0" y="256" rx="8" ry="8" width="112" height="70" />
      <rect x="118" y="258" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="270" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="286" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="296" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="312" rx="5" ry="5" width="60" height="8" />

      <rect x="0" y="332" rx="8" ry="8" width="112" height="70" />
      <rect x="118" y="334" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="346" rx="5" ry="5" width="280" height="10" />
      <rect x="118" y="362" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="372" rx="5" ry="5" width="280" height="8" />
      <rect x="118" y="388" rx="5" ry="5" width="60" height="8" />
    </content-loader>
  </div>
  <div v-else>
    <content-loader :height="510" primary-color="#f3f3f3" secondary-color="#ecebeb">
      <rect x="0" y="0" rx="3" ry="3" width="400" height="170" />

      <rect x="0" y="180" rx="3" ry="3" width="80" height="100" />
      <rect x="85" y="185" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="205" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="260" rx="3" ry="3" width="80" height="10" />

      <rect x="0" y="300" rx="3" ry="3" width="80" height="100" />
      <rect x="85" y="305" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="325" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="380" rx="3" ry="3" width="80" height="10" />

      <rect x="0" y="420" rx="3" ry="3" width="80" height="100" />
      <rect x="85" y="425" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="445" rx="3" ry="3" width="310" height="15" />
      <rect x="85" y="500" rx="3" ry="3" width="80" height="10" />
    </content-loader>
  </div>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  },
  props: {
    screenSize: {
      type: Number,
      required: true
    }
  }
}
</script>
