<template>
  <header id="header" class="header">
    <div class="navbar bg-white fixed inset-x-0 z-999 flex h-16 items-center">
      <div class="w-screen p-5 relative mx-auto">
        <div class="flex items-center">
          <div class="header__logo flex w-full md:w-auto items-center border-gray-100">
            <div class="md:hidden md:ml-auto mr-6" @click="onChangeEventHandler()">
              <icon-toggle v-if="!show" class="cursor-pointer" />
              <icon-close v-if="show" class="cursor-pointer fill-current text-gray-900" />
            </div>
            <nuxt-link class="flex items-center mx-auto md:mx-0" to="/">
              <div><logo-hit class="w-10 h-10" /></div>
              <span style="font-family: 'ProductSans-Bold'" class="ml-2 text-gray-900 text-xl leading-8 font-bold"
                >Hit.vn</span
              >
            </nuxt-link>
            <div class="md:hidden">
              <icon-search class="text-gray-900 cursor-pointer" @click="showSearchMobile = true" />
            </div>
          </div>

          <div v-if="showSearchMobile" class="absolute left-0 px-4 w-full md:hidden items-center">
            <div class="text-base bg-gray-100 rounded-full py-2 px-4 w-full h-10 flex items-center relative">
              <span class="z-10 text-center mx-auto">
                <icon-search class="text-gray-200" />
              </span>
              <input
                v-model="searchKeyword"
                class="w-full outline-none placeholder-gray-200 bg-gray-100 ml-2 p-0 border-0 text-base"
                type="text"
                placeholder="Tìm kiếm..."
                @focus="open = true"
                @keyup="getKeywordSuggest()"
                @keyup.enter="handleSearch(searchKeyword)"
              />
              <span class="z-10 text-center mx-auto">
                <IconCancel
                  class="w-3 h-3 fill-current text-gray-900 stroke-current stroke-2 cursor-pointer"
                  @click="showSearchMobile = false"
                />
              </span>
              <div
                v-if="open"
                style="top: 48px"
                class="absolute right-0 w-full mb-2 mt-0 z-100 bg-white rounded-b-lg overflow-y-auto"
              >
                <div>
                  <ul>
                    <li v-for="keyword in keywords" :key="keyword.Result" class="cursor-pointer">
                      <div
                        class="text-base hover:bg-gray-100 hover:rounded-full py-2 px-4 w-full flex items-center"
                        @click="handleSearch(keyword.Result)"
                      >
                        <span class="z-10 text-center mx-auto">
                          <icon-search class="text-gray-200" />
                        </span>
                        <span class="w-full text-base ml-2">{{ keyword.Result }}</span>
                      </div>
                    </li>
                    <li v-if="searchKeyword !== ''" class="cursor-pointer">
                      <div
                        class="text-base hover:bg-gray-100 hover:rounded-full py-2 px-4 w-full flex items-center"
                        @click="handleSearch(searchKeyword)"
                      >
                        <span class="z-10 text-center mx-auto">
                          <icon-search class="text-orange-500" />
                        </span>
                        <div class="w-full text-base ml-2 text-orange-500 leading-5.5">
                          Tìm kiếm <span class="font-bold">{{ searchKeyword }}</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="hidden md:flex items-center">
            <div class="ml-10 text-base bg-gray-100 rounded-full py-2 px-4 w-58 h-10 flex items-center relative">
              <span class="z-10 text-center mx-auto">
                <icon-search class="text-gray-200" />
              </span>
              <input
                v-model="searchKeyword"
                class="w-full outline-none placeholder-gray-200 bg-gray-100 ml-2 p-0 border-0 text-base"
                type="text"
                placeholder="Tìm kiếm..."
                @focus="open = true"
                @keyup="getKeywordSuggest()"
                @keyup.enter="handleSearch(searchKeyword)"
              />
              <div v-if="open" style="top: 48px" class="absolute right-0 w-full mb-2 mt-0 z-100 bg-white rounded-b-lg">
                <div>
                  <ul>
                    <li v-for="keyword in keywords" :key="keyword.Result" class="cursor-pointer">
                      <div
                        class="text-base hover:bg-gray-100 hover:rounded-full py-2 px-4 w-full flex items-center"
                        @click="handleSearch(keyword.Result)"
                      >
                        <span class="z-10 text-center mx-auto">
                          <icon-search class="text-gray-200" />
                        </span>
                        <span class="w-full text-base ml-2">{{ keyword.Result }}</span>
                      </div>
                    </li>
                    <li v-if="searchKeyword !== ''" class="cursor-pointer">
                      <div
                        class="text-base hover:bg-gray-100 hover:rounded-full py-2 px-4 w-full flex items-center"
                        @click="handleSearch(searchKeyword)"
                      >
                        <span class="z-10 text-center mx-auto">
                          <icon-search class="text-orange-500" />
                        </span>
                        <div class="w-full text-base ml-2 text-orange-500 leading-5.5">
                          Tìm kiếm <span class="font-bold">{{ searchKeyword }}</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden ml-auto lg:flex items-center">
            <div class="flex items-center bg-red-200 rounded-full">
              <a
                href="https://app.hit.vn"
                target="blank"
                class="text-base flex items-center leading-5 text-orange-500 font-bold py-2 px-4"
                ><span class="mr-2"><icon-download /></span>Tải Hitvn</a
              >
            </div>
            <span class="ml-8">
              <a href="https://www.facebook.com/hitvn.page" target="blank"><icon-facebook class="w-6 h-6" /></a>
            </span>
            <span class="ml-8">
              <a href="https://www.youtube.com/channel/UCrsCWPC36oXpWGLH3mFtC9A" target="blank"
                ><icon-youtube class="w-6 h-6"
              /></a>
            </span>
            <span class="ml-8">
              <a href="https://twitter.com/HITVN2" target="blank"><icon-twitter class="w-6 h-6" /></a>
            </span>
            <span class="ml-8">
              <a href="https://www.instagram.com/hitvn2020/" target="blank"> <icon-instagram class="w-6 h-6" /></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import LogoHit from '@/assets/images/common/LogoHit.svg'
import IconToggle from '@/assets/images/common/Toggle.svg'
import IconClose from '@/assets/images/common/Close.svg'
import IconCancel from '@/assets/images/common/cancel.svg'
import IconSearch from '@/assets/images/common/Search.svg'
import IconDownload from '@/assets/images/common/DownloadHit.svg'
import IconFacebook from '@/assets/images/common/Facebook.svg'
import IconYoutube from '@/assets/images/common/Youtube.svg'
import IconTwitter from '@/assets/images/common/Twitter.svg'
import IconInstagram from '@/assets/images/common/Instagram.svg'
import { getSuggestion } from '@/repositories/child/SearchRepository'
export default {
  components: {
    LogoHit,
    IconClose,
    IconToggle,
    IconSearch,
    IconDownload,
    IconFacebook,
    IconYoutube,
    IconTwitter,
    IconInstagram,
    IconCancel
  },
  props: {
    show: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      keywords: [],
      open: false,
      showSearchMobile: false,
      searchKeyword: this.$route.query.q || ''
    }
  },
  computed: {
    q() {
      return this.$route.query.q || ''
    }
  },
  watch: {
    q() {
      this.searchKeyword = this.$route.query.q
    }
  },
  mounted() {
    window.addEventListener('click', this.close)
  },

  beforeDestroy() {
    window.removeEventListener('click', this.close)
  },
  methods: {
    onChangeEventHandler(e) {
      const show = !this.show
      this.$emit('update:show', show)
    },
    close(e) {
      if (!this.$el.contains(e.target)) {
        this.open = false
      }
    },
    async getKeywordSuggest() {
      this.keywords = []
      if (this.searchKeyword.trim() !== '') {
        await getSuggestion(this.searchKeyword)
          .then((result) => {
            this.open = true
            this.keywords = result.data.Data
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
    handleSearch(searchKeyword) {
      this.open = false
      this.$router.push({
        path: '/search/bai-viet',
        query: { q: searchKeyword }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.navbar {
  box-shadow: inset 0px -1px 0px #f5f5f4;
}
</style>
