<template>
  <div v-if="listRelated.length > 0" class="mt-10 px-3 sm:px-0">
    <h5 class="text-center text-base leading-5.5 font-bold text-gray-400 mb-6">Tin liên quan</h5>
    <slide-related :list-related="listRelated" />
  </div>
</template>
<script>
import { getNewsSimilar } from '@/repositories/child/PostRepository'
import { splitUrl } from '@/utils/splitUrlSlug.js'
import { setThumb } from '@/utils/setThumb.js'
import { toTimeAgo } from '@/utils/formatTime.js'
export default {
  async fetch() {
    await getNewsSimilar(splitUrl(this.$nuxt.$route.params.slug))
      .then((res) => {
        res.data.Data.map((item) => {
          item.ThumbUrl = setThumb(item.ThumbImageUrls[0], 'Medium')
          item.PublishedAt = toTimeAgo(item.PublishedAt)
        })
        this.listRelated = res.data.Data
      })
      .catch((err) => {
        console.log(err)
      })
  },
  fetchOnServer: false,
  data() {
    return {
      listRelated: []
    }
  }
}
</script>
