<template>
  <div class="h-full w-full relative">
    <img :src="data[0].ThumbUrl" :alt="data[0].Title" class="w-full h-full object-cover" />
    <div class="caption">
      <nuxt-link v-if="data[0].UrlSlug !== ''" :to="`/${data[0].UrlSlug}`" class="w-full h-full">
        <span class="text-white block font-semibold text-xl leading-6 sm:text-2xl sm:leading-7 truncate-3-lines"
          >{{ data[0].Title }}
        </span>
      </nuxt-link>
      <nuxt-link v-else :to="`/${data[0].Code}/${createUuid(data[0].Id)}`" class="w-full h-full">
        <span class="text-white block font-semibold text-xl leading-6 sm:text-2xl sm:leading-7 truncate-3-lines"
          >{{ data[0].Title }}
        </span>
      </nuxt-link>
      <div class="text-neutralDarkHit-500 mt-2 text-sm leading-4 font-normal not-italic flex items-center">
        <nuxt-link :to="`/dau-bao/${data[0].PublisherCode}`"> {{ data[0].PublisherShortName }}</nuxt-link>
        <DotDivider class="mx-2" /> {{ data[0].PublishedAt }}
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    DotDivider
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
<style lang="scss" scoped>
.caption {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.33%);
  left: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  bottom: 0;
  padding: 10rem 1rem 2rem;
}
</style>
