<template>
  <div v-if="listRecommends.length > 0" class="mt-10">
    <h5 class="text-center text-base leading-5.5 font-bold text-gray-400 mb-6">Tin Gợi Ý</h5>
    <VideoPlayer
      v-for="video in listRecommends"
      :id="video.Id"
      :key="video.Id"
      :video="video"
      :url="video.Contents[0].Url.replace('.m3u8', '.mp4')"
      :thumb-url="video.ThumbUrl"
      class="mt-4 last:mb-24 lg:last:mb-0"
    />
  </div>
</template>
<script>
import { getVideosRecommend } from '@/repositories/child/VideoRepository'
// import { splitUrl } from '@/utils/splitUrlSlug.js'
import { toTimeAgo } from '@/utils/formatTime.js'
export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  async fetch() {
    await getVideosRecommend(this.id)
      .then((res) => {
        res.data.Data.map((item) => {
          item.PublishedAt = toTimeAgo(item.PublishedAt)
        })
        this.listRecommends = res.data.Data
      })
      .catch((err) => {
        console.log(err)
      })
  },
  data() {
    return {
      listRecommends: []
    }
  }
}
</script>
