<template>
  <div class="bg-white w-full px-4 py-3 rounded-lg">
    <h6 class="text-sm leading-4 font-bold text-gray-800 pb-3 mb-1 border-b border-gray-100">Top Trending</h6>
    <div
      v-for="tag in tagsTrending"
      :key="tag.Id"
      class="mt-2 mr-2 px-3 py-2 bg-gray-100 inline-block text-sm font-semibold leading-4"
    >
      <nuxt-link :to="`/tags/${tag.Code}`">
        <span class="text-orangeHit-600">#</span>
        {{ tag.Tag }}
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      tagsTrending: 'tagTrending/tags'
    })
  }
}
</script>
