<template>
  <div
    id="sidebar"
    :class="`fixed bg-white inset-0 h-full z-200 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5 ${
      show ? '' : 'hidden'
    } pt-16`"
  >
    <div
      class="h-full overflow-y-auto md:overflow-y-hidden md:hover:overflow-y-auto scrolling-touch lg:h-auto lg:block lg:relative lg:sticky lg:bg-transparent overflow-hidden lg:inset-y-16 pb-24 md:pb-0"
    >
      <nav
        id="nav"
        class="px-6 pt-6 hover:overflow-y-auto text-base lg:text-sm lg:py-3 lg:px-3 sticky?lg:h-(screen-16)"
      >
        <div class="mb-1">
          <nuxt-link
            :to="`/search/bai-viet?q=${$nuxt.$route.query.q}`"
            class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg"
            @click.native="onChangeEventHandler()"
          >
            <icon-news class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Bài viết</h5>
          </nuxt-link>
          <nuxt-link
            :to="`/search/video?q=${$nuxt.$route.query.q}`"
            class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg"
            @click.native="onChangeEventHandler()"
          >
            <icon-video class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Video</h5>
          </nuxt-link>
          <nuxt-link
            :to="`/search/hashtag?q=${$nuxt.$route.query.q}`"
            class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg"
            @click.native="onChangeEventHandler()"
          >
            <icon-hashtag class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Hashtag</h5>
          </nuxt-link>
          <nuxt-link
            :to="`/search/dau-bao?q=${$nuxt.$route.query.q}`"
            class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg"
            @click.native="onChangeEventHandler()"
          >
            <icon-publisher class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Đầu báo</h5>
          </nuxt-link>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
import IconNews from '@/assets/images/sidebar/News.svg'
import IconVideo from '@/assets/images/sidebar/Video.svg'
import IconPublisher from '@/assets/images/sidebar/Publisher.svg'
import IconHashtag from '@/assets/images/sidebar/Hashtag.svg'
export default {
  components: {
    IconNews,
    IconVideo,
    IconPublisher,
    IconHashtag
  },
  props: {
    show: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      q: this.$nuxt.$route.query.q
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    onChangeEventHandler(e) {
      if (this.screenSize < 768) {
        const show = !this.show
        this.$emit('update:show', show)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@supports (position: sticky) {
  @media (min-width: 1024px) {
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - 4rem);
    }
  }
}
.txt-sidebar {
  @apply text-gray-200;
}
.icon-sidebar {
  @apply fill-current text-gray-400;
}
.nuxt-link-exact-active {
  .icon-sidebar {
    @apply fill-current text-orange-500;
  }
  .txt-sidebar {
    @apply text-gray-900;
  }
}

#nav::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #edf2f7;
}

#nav::-webkit-scrollbar {
  width: 10px;
  background-color: #edf2f7;
}

#nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cbd5e0;
}
</style>
