<template>
  <div class="h-full w-full grid grid-rows-4 grid-flow-col gap-0">
    <div v-for="post in data" :key="post.Id" class="row-span-4 col-span-2 relative">
      <img :src="post.ThumbUrl" :alt="post.Title" class="w-full h-full object-cover" />
      <div class="caption">
        <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`" class="w-full h-full">
          <span class="text-white block font-semibold text-base leading-5 sm:text-xl sm:leading-6 truncate-3-lines">{{
            post.Title
          }}</span>
        </nuxt-link>
        <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`" class="w-full h-full">
          <span class="text-white block font-semibold text-base leading-5 sm:text-xl sm:leading-6 truncate-3-lines">{{
            post.Title
          }}</span>
        </nuxt-link>
        <div
          class="text-neutralDarkHit-500 mt-2 text-xs sm:text-sm sm:leading-4 font-normal not-italic flex items-center"
        >
          <nuxt-link :to="`/dau-bao/${post.PublisherCode}`"> {{ post.PublisherShortName }}</nuxt-link>
          <DotDivider class="mx-2" /> {{ post.PublishedAt }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    DotDivider
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
<style lang="scss" scoped>
.caption {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.33%);
  left: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  bottom: 0;
  padding: 10rem 1rem 2rem;
}
</style>
