<template>
  <div>
    <div class="w-full relative m-auto mt-3">
      <div
        v-for="(slide, index) in slideTrends"
        :key="slide.Id"
        :class="`rounded-md overflow-hidden ${slideIndex === index + 1 ? 'block' : 'hidden'}`"
      >
        <img :src="slide.ThumbUrl" :alt="slide.Title" class="animate-fade w-full object-cover" />
        <nuxt-link v-if="slide.UrlSlug !== ''" :to="`/${slide.UrlSlug}`">
          <div class="caption text-white absolute w-full text-left bottom-0 p-6">
            <h3 class="text-xl leading-6 md:text-2xl md:leading-7 font-semibold pb-3 truncate sm:truncate-2-lines">
              {{ slide.Title }}
            </h3>
            <div class="flex items-center text-sm leading-4 font-normal">
              <nuxt-link :to="`/dau-bao/${slide.PublisherCode}`">
                <span>{{ slide.PublisherShortName }}</span>
              </nuxt-link>
              <div class="px-2">
                <DotDivider />
              </div>
              <span>{{ slide.PublishedAt }}</span>
            </div>
          </div>
        </nuxt-link>
        <nuxt-link v-else :to="`/${slide.Code}/${createUuid(slide.Id)}`">
          <div class="caption text-white absolute w-full text-left bottom-0 p-6">
            <h3 class="text-xl leading-6 md:text-2xl md:leading-7 font-semibold pb-3 truncate sm:truncate-2-lines">
              {{ slide.Title }}
            </h3>
            <div class="flex items-center text-sm leading-4 font-normal">
              <nuxt-link :to="`/dau-bao/${slide.PublisherCode}`">
                <span>{{ slide.PublisherShortName }}</span>
              </nuxt-link>
              <div class="px-2">
                <DotDivider />
              </div>
              <span>{{ slide.PublishedAt }}</span>
            </div>
          </div>
        </nuxt-link>
        <span class="next flex justify-center items-center" @click="plusSlides(1)"><RightArrow /></span>
        <span class="prev flex justify-center items-center" @click="plusSlides(-1)"><LeftArrow /></span>
      </div>
      <div class="relative text-center">
        <ul class="carousel_indicators">
          <li
            v-for="(item, i) in slideTrends"
            :key="item.Id"
            :class="`${slideIndex === i + 1 ? 'active' : ''}`"
            @click="showSlides(i + 1)"
          >
            <div></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="trending-streams relative bg-white flex items-center px-3 py-3 rounded-b-md cursor-pointer">
      <nuxt-link :to="`/xu-huong/${trendId}`" class="flex items-center mx-auto my-0">
        <TrendingStream />
        <h5 class="text-base leading-5 text-orangeHit-600 font-bold mx-3">Theo dòng sự kiện</h5>
        <ArrowStream />
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import { fromUUID } from '@/utils/uuid'
import DotDivider from '@/assets/images/common/DotDivider.svg'
import LeftArrow from '@/assets/images/common/minimal-left.svg'
import RightArrow from '@/assets/images/common/minimal-right.svg'
import ArrowStream from '@/assets/images/common/arrow-stream.svg'
import TrendingStream from '@/assets/images/common/TrendingStream.svg'
export default {
  components: {
    DotDivider,
    LeftArrow,
    RightArrow,
    TrendingStream,
    ArrowStream
  },
  props: {
    slideTrends: {
      type: Array,
      required: true
    },
    trendId: {
      type: String,
      required: true
    }
  },
  data: () => ({
    slideIndex: 1,
    screenSize: 1200,
    intervalId: null
  }),
  mounted() {
    this.showSlides(this.slideIndex)
    const intervalId = setInterval(this.timer, 4000)
    this.intervalId = intervalId
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    clearInterval(this.intervalId)
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    createUuid: fromUUID,
    showSlides(n) {
      if (n > this.slideTrends.length) {
        this.slideIndex = 1
      } else if (n < 1) {
        this.slideIndex = this.slideTrends.length
      } else {
        this.slideIndex = n
      }
    },
    plusSlides(n) {
      this.showSlides(this.slideIndex + n)
    },
    timer() {
      this.plusSlides(1)
    },
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    }
  }
}
</script>
<style lang="scss" scoped>
.caption {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  line-height: 0;
  padding: 6px;
  margin-top: -22px;
  color: #fff;
  width: 40px;
  height: 40px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.prev {
  left: 6px;
}
.next {
  right: 6px;
}

.prev:hover,
.next:hover {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000000;
  opacity: 0.5;
}

.carousel_indicators {
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 0px;
  list-style: none;
}

.carousel_indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 56px;
  height: 2px;
  margin-right: 3px;
  margin-left: 3px;
  // text-indent: -999px;
  cursor: pointer;
  background-color: #666;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  // opacity: .5;
  // transition: opacity 0.6s ease;
}

.carousel_indicators li div {
  // background-color: #a0a0a0;
  height: 2px;
  width: 0;
  // -webkit-transition: width 5s;
  transition: background-color 4s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel_indicators li {
    transition: none;
  }
}

.carousel_indicators .active > div {
  transition: width 4s;
  width: 56px;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .carousel_indicators li {
    width: 30px;
  }

  .carousel_indicators .active > div {
    width: 30px;
  }
}
.trending-streams {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
</style>
