<template>
  <div>
    <div class="relative w-full h-auto flex bg-white rounded-lg">
      <div class="flex-shrink-0">
        <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`">
          <img class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 object-cover" :src="setThumb" :alt="post.Title" />
        </nuxt-link>
        <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`">
          <img class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 object-cover" :src="setThumb" :alt="post.Title" />
        </nuxt-link>
      </div>
      <div class="my-3 mx-4 flex flex-col justify-between">
        <div>
          <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`"
            ><h4
              class="text-base leading-5 sm:leading-7 sm:text-xl font-semibold text-gray-900 truncate-3-lines sm:truncate-2-lines"
            >
              {{ post.Title }}
            </h4></nuxt-link
          >
          <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`"
            ><h4
              class="text-base leading-5 sm:leading-7 sm:text-xl font-semibold text-gray-900 truncate-3-lines sm:truncate-2-lines"
            >
              {{ post.Title }}
            </h4></nuxt-link
          >
          <p class="hidden sm:block sm:truncate-2-lines mt-3 text-sm leading-5 text-gray-200">
            {{ post.Abstract }}
          </p>
        </div>
        <div class="text-gray-400 text-sm leading-4 w-3/5 sm:w-full">
          <nuxt-link :to="`/dau-bao/${post.PublisherCode}`" class="flex items-center flex-row">
            {{ post.PublisherShortName }} &#8231;
            {{ setPublishedAt }}
          </nuxt-link>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 toggle-show cursor-pointer">
        <div
          v-if="!isShow"
          class="flex items-center text-xs sm:text-base leading-5.5 font-bold text-orange-500"
          @click="fetchData()"
        >
          Tin liên quan
          <IconDropDown class="hidden sm:block ml-2 text-orange-500 fill-current" />
        </div>
        <div
          v-else
          class="flex items-center text-xs sm:text-base leading-5.5 font-bold text-orange-500"
          @click="isShow = !isShow"
        >
          Thu gọn
          <IconUp class="hidden sm:block ml-2 text-orange-500 fill-current" />
        </div>
      </div>
    </div>
    <slide-related v-if="isShow && listRelated.length > 0" class="my-10" :list-related="listRelated" />
  </div>
</template>
<script>
import { splitUrl } from '@/utils/splitUrlSlug.js'
import { setThumb } from '@/utils/setThumb.js'
import { toTimeAgo } from '@/utils/formatTime.js'
import { fromUUID } from '@/utils/uuid'
import { getNewsSimilar } from '@/repositories/child/PostRepository'
import IconDropDown from '@/assets/images/detailpost/drop-down.svg'
import IconUp from '@/assets/images/detailpost/arrow-up.svg'
export default {
  components: {
    IconDropDown,
    IconUp
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      listRelated: [],
      isShow: false
    }
  },
  computed: {
    setThumb() {
      const arr = this.post.ThumbImageUrls[0].split('/')
      arr.splice(arr.length - 1, 0, 'Medium')
      return arr.join('/').toString()
    },
    setPublishedAt() {
      return toTimeAgo(this.post.PublishedAt)
    }
  },
  methods: {
    createUuid: fromUUID,
    async fetchData() {
      if (this.listRelated.length === 0) {
        await getNewsSimilar(splitUrl(this.post.UrlSlug))
          .then((res) => {
            res.data.Data.map((item) => {
              item.ThumbUrl = setThumb(item.ThumbImageUrls[0], 'Medium')
              item.PublishedAt = toTimeAgo(item.PublishedAt)
            })
            this.listRelated = res.data.Data
          })
          .catch((err) => {
            console.log(err)
          })
      }
      this.isShow = true
    }
  }
}
</script>
<style lang="scss" scoped>
.toggle-show {
  border-radius: 24px 0px 8px;
  background: rgba(232, 84, 52, 0.1);
  @apply py-1 px-3;
  @media (min-width: 640px) {
    @apply py-2 px-8;
  }
}
</style>
