<template>
  <div
    id="sidebar"
    :class="`fixed bg-white lg:bg-orangeHit-300 inset-0 h-full z-200 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5 ${
      show ? '' : 'hidden'
    } pt-16`"
  >
    <div
      id="nav"
      class="h-full overflow-y-auto md:overflow-y-hidden md:hover:overflow-y-auto scrolling-touch lg:h-auto lg:block lg:relative lg:sticky lg:bg-transparent overflow-hidden lg:inset-y-16 pb-24 md:pb-0"
    >
      <nav class="px-6 pt-6 text-base lg:text-sm lg:py-3 lg:px-3 sticky?lg:h-(screen-16)">
        <div class="mb-1 border-b-2">
          <nuxt-link to="/" class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg">
            <icon-home class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Trang Chủ</h5>
          </nuxt-link>
          <nuxt-link to="/personalize" class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg">
            <icon-personalization class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Cho bạn</h5>
          </nuxt-link>
          <nuxt-link to="/news" class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg">
            <icon-group class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Tin Tức địa phương</h5>
          </nuxt-link>
          <nuxt-link to="/chuyen-muc/video" class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg">
            <icon-video class="icon-sidebar" />
            <h5 class="txt-sidebar ml-3 text-base leading-5 font-semibold">Video</h5>
          </nuxt-link>
        </div>
        <div class="mt-4">
          <nuxt-link
            v-for="item in listCategories"
            :key="item.Id"
            :to="`/chuyen-muc/${item.Code}`"
            class="flex items-center px-3 py-2 mb-2 hover:bg-gray-300 rounded-lg"
            @click.native="onChangeEventHandler()"
          >
            <h5 class="txt-sidebar text-base leading-5 font-semibold">{{ item.Title }}</h5>
          </nuxt-link>
        </div>
        <div class="md:mt-8 px-2 pt-4 border-t-2 md:pt-0 md:border-t-0">
          <h6 class="text-xs font-semibold leading-4 text-gray-900">Trang thông tin điện tử tổng hợp Hitvn</h6>
          <div class="flex flex-col text-gray-200 text-xs">
            <div class="mt-2 leading-5">
              <span>Tel: <a href="tel:+84902128338">0902.128.338</a></span
              >・<span>Email: <a href="mailto:support@hit.vn">support@hit.vn</a></span>
            </div>
            <span class="mt-2 leading-5"
              >Giấy phép số: 2188/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 09/04/2019.</span
            >
            <div class="mt-2 leading-4">
              <a href="https://dieukhoan.hit.vn/" target="_blank">Chính sách điều khoản</a>
              <span>・ Ⓒ Copyright 2020</span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
import IconHome from '@/assets/images/sidebar/Home.svg'
import IconPersonalization from '@/assets/images/sidebar/Personalization.svg'
import IconGroup from '@/assets/images/sidebar/Group.svg'
import IconVideo from '@/assets/images/sidebar/VideoSidebar.svg'
import { mapGetters } from 'vuex'
export default {
  components: {
    IconHome,
    IconPersonalization,
    IconGroup,
    IconVideo
  },
  props: {
    show: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      screenSize: 1200
    }
  },
  computed: {
    ...mapGetters({
      listCategories: 'category/categories'
    })
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    onChangeEventHandler(e) {
      if (this.screenSize < 768) {
        const show = !this.show
        this.$emit('update:show', show)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@supports (position: sticky) {
  @media (min-width: 1024px) {
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - 4rem);
    }
  }
}
.txt-sidebar {
  @apply text-gray-200;
}
.icon-sidebar {
  @apply fill-current text-gray-400;
}
.nuxt-link-exact-active {
  .icon-sidebar {
    @apply fill-current text-orange-500;
  }
  .txt-sidebar {
    @apply text-gray-900;
  }
}

#nav::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #edf2f7;
}

#nav::-webkit-scrollbar {
  width: 10px;
  background-color: #edf2f7;
}

#nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cbd5e0;
}
</style>
