<template>
  <div>
    <h2 class="text-gray-900 text-xl md:text-2.5xl leading-6 md:leading-8 font-bold">
      Kết quả tìm kiếm cho: <span class="text-gray-900 text-xl leading-6 font-normal">{{ $nuxt.$route.query.q }}</span>
    </h2>
    <template v-if="$fetchState.pending && listPosts.length === 0">
      <loader-list-post :screen-size="1000" />
    </template>
    <template>
      <div
        v-for="(post, index) in listPosts"
        :key="index"
        v-observe-visibility="index === listPosts.length - 1 ? lazyLoadArticles : false"
        class="first:mt-6 mt-3"
      >
        <base-post :post="post" />
      </div>
    </template>
    <template v-if="$fetchState.pending && listPosts.length">
      <loader-list-post :screen-size="1000" />
    </template>
  </div>
</template>
<script>
import { searchTopic } from '@/repositories/child/SearchRepository'
export default {
  async fetch() {
    try {
      await searchTopic('post', this.$nuxt.$route.query.q, this.pageSize, this.page).then(({ data }) => {
        if (data.Data.length) {
          this.listPosts.push(...data.Data)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: false,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 20,
      isDone: false,
      listPosts: []
    }
  },
  computed: {
    q() {
      return this.$route.query.q || ''
    }
  },
  watch: {
    async q() {
      this.page = 1
      this.listPosts = []
      await this.$fetch()
    }
  },
  layout: 'search',
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head: {
    title: 'Tìm kiếm'
  }
}
</script>
