<template>
  <div style="position: relative">
    <IconPlay
      :id="`cover-${id}`"
      style="opacity: 1; transform: translate(-50%, -50%)"
      class="hidden sm:block absolute left-1/2 top-1/2 cursor-pointer"
    />
    <div class="bg-white px-5 py-4 rounded-t-lg">
      <nuxt-link :to="`/video/${video.UrlSlug}`">
        <h1
          class="text-base leading-5 sm:leading-7 sm:text-xl font-semibold text-gray-900 truncate-3-lines sm:truncate-2-lines"
        >
          {{ video.Title }}
        </h1>
      </nuxt-link>
    </div>
    <video
      :id="`video-${id}`"
      class="w-full cursor-pointer"
      controls
      :src="url"
      :poster="thumbUrl"
      preload="metadata"
      @click="handleControl()"
    ></video>
    <div class="bg-white px-5 py-4 rounded-b-lg justify-end flex items-center">
      <div class="flex items-center">
        <IconLike />
        <span class="video-count ml-2">{{ video.LikeCount }}</span>
      </div>
      <div class="ml-8 flex items-center">
        <IconView />
        <span class="video-count ml-2">{{ video.ViewCount }}</span>
      </div>
    </div>
  </div>
</template>
<script>
import IconLike from '@/assets/images/video/Like.svg'
import IconView from '@/assets/images/video/View.svg'
import IconPlay from '@/assets/images/video/Play.svg'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    IconLike,
    IconView,
    IconPlay
  },
  props: {
    url: {
      type: String,
      required: true
    },
    thumbUrl: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    video: {
      type: Object,
      required: true
    }
  },
  mounted() {
    const video = document.getElementById(`video-${this.id}`)
    const btnPlay = document.getElementById(`cover-${this.id}`)
    let isPaused = false /* Flag for auto-paused video */
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.intersectionRatio !== 1 && !video.paused) {
            video.pause()
            btnPlay.style.opacity = 1
            isPaused = true
          } else if (isPaused) {
            video.play()
            btnPlay.style.opacity = 0
            isPaused = false
          }
        })
      },
      { threshold: 1 }
    )
    observer.observe(video)
  },
  methods: {
    handleControl() {
      const btnPlay = document.getElementById(`cover-${this.id}`)
      const video = document.getElementById(`video-${this.id}`)
      if (video.paused) {
        btnPlay.style.opacity = 0
      } else {
        btnPlay.style.opacity = 1
      }
      if (this.video.UrlSlug !== '') {
        const slug = this.video.UrlSlug
        const resolved = this.$router.resolve({ name: 'video-slug', params: { slug } })
        history.pushState({}, '', resolved.href)
      } else {
        const createId = fromUUID(this.video.Id)
        const resolved = this.$router.resolve({
          name: 'video-slug-shortid',
          params: { slug: this.video.Code, shortid: createId }
        })
        history.pushState({}, '', resolved.href)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.video-count {
  @apply text-base leading-5.5 text-gray-900;
}
</style>
