@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    @apply text-4xl leading-10;
  }

  h2 {
    @apply text-2.5xl leading-8;
  }

  h3 {
    @apply text-2xl leading-7;
  }

  h4 {
    @apply text-xl leading-6;
  }

  h5 {
    @apply text-base;
    font-weight: 1.375rem;
  }

  h6 {
    @apply text-sm leading-4;
  }

  .h7 {
    @apply text-xs leading-4;
  }
}
