<!-- eslint-disable -->
<template>
  <div class="flex flex-wrap relative">
    <div class="hidden xl:block">
      <div class="xl:absolute z-999 wrap-icon">
        <div class="fixed opacity-100 flex flex-col justify-items-center items-center w-16 mx-auto">
          <button @click="back()" class="button-share bg-white rounded-full w-12 h-12 focus:outline-none">
            <back-arrow class="m-auto block w-6 h-6" />
          </button>
          <button class="mt-8 button-share bg-white rounded-full w-10 h-10 focus:outline-none">
            <IconBookmark class="m-auto block w-6 h-6" />
          </button>
          <ShareNetwork
            network="facebook"
            :url="`${host}/${detailPost.UrlSlug}`"
            :title="detailPost.Title"
            :description="detailPost.Abstract"
            class="mt-6"
          >
            <button class="button-share bg-white rounded-full w-10 h-10 focus:outline-none">
              <IconFacebook class="m-auto block w-6 h-6" />
            </button>
          </ShareNetwork>
          <ShareNetwork
            network="twitter"
            :url="`${host}/${detailPost.UrlSlug}`"
            :title="detailPost.Title"
            :description="detailPost.Abstract"
            class="mt-4"
          >
            <button class="button-share bg-white rounded-full w-10 h-10 focus:outline-none">
              <IconTwitter class="m-auto block w-6 h-6" />
            </button>
          </ShareNetwork>
          <ShareNetwork
            network="email"
            :url="`${host}/${detailPost.UrlSlug}`"
            :title="detailPost.Title"
            :description="detailPost.Abstract"
            class="mt-4"
          >
            <button class="button-share bg-white rounded-full w-10 h-10 focus:outline-none">
              <IconEmail class="m-auto block w-6 h-6" />
            </button>
          </ShareNetwork>
          <button class="mt-4 button-share bg-white rounded-full w-10 h-10 focus:outline-none" @click="copyLinkPost()">
            <IconCopy class="m-auto block w-6 h-6" />
          </button>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="bg-white rounded-md px-3 sm:px-10 pt-6 pb-10">
        <nuxt-link :to="`/chuyen-muc/${detailPost.CategoryAi}`">
          <h5
            v-if="detailPost.CategoryName"
            class="text-orange-500 text-base leading-snug font-bold rounded bg-orangeHit-200 px-2 py-1 inline"
          >
            {{ detailPost.CategoryName }}
          </h5>
        </nuxt-link>
        <h1 class="text-2.5xl sm:text-4xl mt-2 text-blackHit-500 leading-8 sm:leading-11 font-bold">
          {{ detailPost.Title }}
        </h1>
        <div class="text-gray-400 text-sm leading-4 sm:text-sm sm:leading-5 flex items-center mt-4">
          <nuxt-link :to="`/dau-bao/${detailPost.PublisherCode}`"> {{ detailPost.PublisherShortName }}</nuxt-link>
          <DotDivider class="mx-1" /> {{ detailPost.PublishedAt }}
        </div>
        <p class="text-xl leading-7.5 text-blackHit-500 font-semibold mt-6">{{ detailPost.Abstract }}</p>
        <div class="mt-4">
          <div class="contentInternal" v-html="detailPost.Contents"></div>
          <LazyModalImage v-if="isOpenModal" :is-open-modal.sync="isOpenModal" :slide-index.sync="slideIndex" />
          <p class="text-sm text-blackHit-500 leading-5 mt-2">
            Nguồn: <a class="text-blue-600" :href="detailPost.PostedUrl" target="blank">Link gốc</a>
          </p>
          <div class="mt-6">
            <span
              v-for="tag in filteredTags"
              :key="tag.Id"
              class="inline-block bg-gray-100 rounded px-3 py-1 text-sm leading-4 font-semibold text-gray-200 mr-2 mb-2"
            >
              <nuxt-link :to="`/tags/${tag.Code}`"><span class="text-orange-500">#</span> {{ tag.Tag }} </nuxt-link>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import BackArrow from '@/assets/images/common/back-arrow.svg'
import IconFacebook from '@/assets/images/common/Facebook.svg'
import IconTwitter from '@/assets/images/common/Twitter.svg'
import IconEmail from '@/assets/images/common/Email.svg'
import IconCopy from '@/assets/images/common/CopyLink.svg'
import IconBookmark from '@/assets/images/common/BookmarkSave.svg'
import { mapGetters } from 'vuex'
export default {
  components: {
    DotDivider,
    BackArrow,
    IconFacebook,
    IconTwitter,
    IconEmail,
    IconCopy,
    IconBookmark
  },
  props: {
    detailPost: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isOpenModal: false,
      slideIndex: 0
    }
  },
  computed: {
    filteredTags() {
      return this.detailPost.Tags.filter((tag) => tag.IsShow === 1)
    },
    ...mapGetters({
      host: 'host'
    })
  },
  mounted() {
    this.forEachAnchor((element) => {
      element.addEventListener('click', this.useVueRouter)
    })
  },
  beforeDestroy() {
    this.forEachAnchor((element) => {
      element.removeEventListener('click', this.useVueRouter)
    })
  },
  methods: {
    back() {
      if (document.referrer.includes(window.location.host)) {
        history.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    async copyLinkPost() {
      try {
        await this.$copyText(`${this.host}/${this.detailPost.UrlSlug}`)
      } catch (e) {
        console.error(e)
      }
    },
    openModalImage(subId) {
      this.isOpenModal = !this.isOpenModal
      this.slideIndex = this.listImages.findIndex((item) => item.SubId === subId)
    },
    forEachAnchor(callbackfn) {
      const anchors = document.querySelectorAll('.contentInternal a[href]')
      anchors.forEach(callbackfn)
    },
    useVueRouter(e) {
      if (e.currentTarget instanceof Element) {
        const href = e.currentTarget.getAttribute('href') || ''
        const parsedURL = new URL(href, window.location.origin)
        const isNuxtLink = parsedURL.hostname === window.location.hostname
        if (isNuxtLink) {
          e.preventDefault()
          this.$router.push({
            path: `${parsedURL.pathname}${parsedURL.search}`,
            hash: parsedURL.hash
          })
        }
      }
    }
  },
  head() {
    return {
      title: this.detailPost.Title,
      meta: [
        { hid: 'og-title', property: 'og:title', content: this.detailPost.Title.replace(/"/g, "'") },
        { hid: 'og-description', property: 'og:description', content: this.detailPost.Abstract.replace(/"/g, "'") },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.$route.fullPath.includes('video')
            ? this.detailPost.ThumbUrl
            : this.detailPost.ThumbImageUrls
            ? this.detailPost.ThumbImageUrls[0]
            : ''
        }
      ],
      script: [
        {
          type: 'application/ld+json',
          json: {
            '@context': 'http://schema.org',
            '@type': 'NewsArticle',
            mainEntityOfPage: {
              '@type': 'WebPage',
              '@id': `https://hit.vn${this.$route.fullPath}`
            },
            headline: `${this.detailPost.Title.replace(/"/g, "'")}`,
            image: {
              '@type': 'ImageObject',
              url: `${
                this.$route.fullPath.includes('video')
                  ? this.detailPost.ThumbUrl
                  : this.detailPost.ThumbImageUrls
                  ? this.detailPost.ThumbImageUrls[0]
                  : ''
              }`,
              width: 700,
              height: 400
            },
            datePublished: `${this.detailPost.PublishedAt}`,
            dateModified: `${this.detailPost.PostedAt}`,
            author: {
              '@type': 'Person',
              name: 'Hitvn'
            },
            publisher: {
              '@type': 'Organization',
              name: 'hit.vn',
              logo: {
                '@type': 'ImageObject',
                url: 'https://cdn.hit.vn/Hitvn-Logo.png',
                width: 130,
                height: 60
              }
            },
            description: `${this.detailPost.Abstract.replace(/"/g, "'")}`
          }
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.contentInternal {
  /deep/ a {
    @apply text-blue-600;
  }
  /deep/ p {
    @apply text-blackHit-500 text-xl leading-7.5 mt-4;
  }

  /deep/ strong {
    @apply text-xl text-blackHit-500 mt-6;
  }

  /deep/ p.caption {
    max-width: 100%;
    @apply mt-0 text-center text-sm leading-7.5 bg-red-100;
  }

  /deep/ img {
    @apply rounded-t-lg w-full align-middle mt-4 object-cover;
  }

  /deep/ video {
    @apply w-full mt-4;
  }
}

.button-share {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.wrap-icon {
  right: 100%;
  top: 0;
  bottom: 0;
  width: 65px;
  clip: rect(auto, auto, auto, auto);
}
</style>
