<template>
  <div>
    <h2 class="text-gray-900 text-2.5xl leading-8 font-bold">
      Kết quả tìm kiếm cho: <span class="text-gray-900 text-xl leading-6 font-normal">{{ $nuxt.$route.query.q }}</span>
    </h2>
    <div class="mt-8">
      <div
        v-for="(video, index) in listVideos"
        :key="video.Id"
        v-observe-visibility="index === listVideos.length - 1 ? lazyLoadArticles : false"
        class="first:mt-0 mt-3"
      >
        <VideoPlayer
          :id="video.Id"
          :video="video"
          :url="video.Contents[0].Url.replace('.m3u8', '.mp4')"
          :thumb-url="video.ThumbUrl"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { searchTopic } from '@/repositories/child/SearchRepository'
export default {
  async fetch() {
    try {
      await searchTopic('video', this.$nuxt.$route.query.q, this.pageSize, this.page).then(({ data }) => {
        if (data.Data.length) {
          this.listVideos.push(...data.Data)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: true,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 20,
      isDone: false,
      listVideos: []
    }
  },
  computed: {
    q() {
      return this.$route.query.q || ''
    }
  },
  watch: {
    async q() {
      this.page = 1
      this.listVideos = []
      await this.$fetch()
    }
  },
  layout: 'search',
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head: {
    title: 'Tìm kiếm'
  }
}
</script>
