<template>
  <div>
    <the-header :show.sync="show" />
    <div class="w-full">
      <div class="lg:flex">
        <the-sidebar :show.sync="show" />
        <div
          id="content-wrapper"
          :class="`min-h-screen w-full lg:static lg:max-h-full lg:w-3/4 xl:w-4/5 ${show ? 'fixed' : ''}`"
        >
          <div id="app" class="flex pt-19 sm:pt-22 w-full max-w-screen-xl mx-auto">
            <div class="w-full xl:w-9/12 px-3 sm:px-6 xl:px-0">
              <Nuxt keep-alive />
            </div>
            <div class="hidden xl:block xl:w-3/12 xl:px-4">
              <daily-weather />
              <top-trending />
              <top-news class="mt-3" :is-videos="false" :news="newsToday" />
              <top-news class="mt-3" :is-videos="true" :news="videoNewsToday" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <the-bottom />
    <back-top />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    show: false
  }),
  computed: {
    ...mapGetters({
      newsToday: 'newToday/newsToday',
      videoNewsToday: 'newToday/videoNewsToday'
    })
  }
}
</script>
<style>
html {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @apply bg-orangeHit-300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
