<template>
  <div class="h-full w-full grid grid-rows-4 grid-cols-4 gap-0">
    <div class="row-span-4 col-span-2 relative">
      <img :src="data[0].ThumbUrl" :alt="data[0].Title" class="w-full h-full object-cover" />
      <div class="caption caption--one">
        <nuxt-link v-if="data[0].UrlSlug !== ''" :to="`/${data[0].UrlSlug}`" class="w-full h-full">
          <span class="text-white block font-semibold text-sm leading-4 sm:text-xl sm:leading-6 truncate-3-lines">
            {{ data[0].Title }}
          </span>
        </nuxt-link>
        <nuxt-link v-else :to="`/${data[0].Code}/${createUuid(data[0].Id)}`" class="w-full h-full">
          <span class="text-white block font-semibold text-sm leading-4 sm:text-xl sm:leading-6 truncate-3-lines">
            {{ data[0].Title }}
          </span>
        </nuxt-link>
        <div
          class="text-neutralDarkHit-500 mt-2 text-xs sm:text-sm sm:leading-4 font-normal not-italic flex items-center"
        >
          <nuxt-link :to="`/dau-bao/${data[0].PublisherCode}`"> {{ data[0].PublisherShortName }}</nuxt-link>
          <DotDivider class="mx-2" /> {{ data[0].PublishedAt }}
        </div>
      </div>
    </div>
    <div v-for="(post, index) in data.slice(1, 3)" :key="post.Id" class="row-span-2 col-span-2 relative">
      <img :src="post.ThumbUrl" :alt="post.Title" class="w-full h-full object-cover" />
      <div :class="`caption caption--two pt-40 px-4 ${index === 0 ? 'pb-2' : 'pb-8'}`">
        <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`" class="w-full h-full">
          <span class="text-white block font-semibold text-sm leading-4 sm:text-base sm:leading-6 truncate-2-lines">{{
            post.Title
          }}</span>
        </nuxt-link>
        <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`" class="w-full h-full">
          <span class="text-white block font-semibold text-sm leading-4 sm:text-base sm:leading-6 truncate-2-lines">{{
            post.Title
          }}</span>
        </nuxt-link>
        <div
          class="text-neutralDarkHit-500 mt-2 text-xs sm:text-sm sm:leading-4 font-normal not-italic flex items-center"
        >
          <nuxt-link :to="`/dau-bao/${post.PublisherCode}`"> {{ post.PublisherShortName }}</nuxt-link>
          <DotDivider class="mx-2" /> {{ post.PublishedAt }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    DotDivider
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
<style lang="scss" scoped>
.caption {
  left: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  bottom: 0;
  &--one {
    padding: 10rem 1rem 2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.33%);
  }
  &--two {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.5%, #000000 100%);
  }
}
</style>
