<template>
  <div>
    <template v-if="$fetchState.pending && listPosts.length === 0">
      <loader-home :screen-size="screenSize" />
    </template>
    <template v-if="listPosts.length > 0">
      <slide-top :posts="listSlideTop" :list-posts-top-right="listPostsTopRight" />
    </template>
    <template v-if="listPosts.length > 0">
      <div
        v-for="(post, index) in listPosts"
        :key="post.Id"
        v-observe-visibility="index === listPosts.length - 1 ? lazyLoadArticles : false"
        class="first:mt-6 mt-3"
      >
        <base-post v-if="post.ListSlide.length === 0" :post="post" />
        <trend-carousel v-else :slide-trends="post.ListSlide" :trend-id="post.TrendId" />
      </div>
    </template>
    <template v-if="$fetchState.pending && listPosts.length">
      <loader-home :screen-size="screenSize" />
    </template>
  </div>
</template>

<script>
import { setThumb } from '@/utils/setThumb.js'
import { toTimeAgo } from '@/utils/formatTime.js'
import { getHotPosts } from '@/repositories/child/PostRepository'
export default {
  async fetch() {
    try {
      await getHotPosts(this.page).then(({ data }) => {
        if (this.page > 1) {
          if (data.Data.length) {
            data.Data.map((item) => {
              if (item.ListSlide.length !== 0) {
                item.ListSlide.map((slide) => {
                  slide.ThumbUrl = setThumb(slide.ThumbImageUrls[0], this.screenSize >= 561 ? '4xLarge4x2' : '2xLarge')
                  slide.PublishedAt = toTimeAgo(slide.PublishedAt)
                })
              }
            })
            this.listPosts.push(...data.Data)
          } else {
            this.isDone = true
          }
        } else if (data.Data.length) {
          data.Data[0].ListSlide.map((item) => {
            item.map((i) => {
              i.ThumbUrl = setThumb(i.ThumbImageUrls[0], 'Large')
              i.PublishedAt = toTimeAgo(i.PublishedAt)
            })
          })
          this.listSlideTop = data.Data[0].ListSlide
          // slice top 4 post
          const tempListPostsRight = data.Data.slice(1, 5)
          tempListPostsRight.map((item) => {
            item.ThumbUrl = setThumb(item.ThumbImageUrls[0], 'Medium')
            item.PublishedAt = toTimeAgo(item.PublishedAt)
          })
          this.listPostsTopRight.push(...tempListPostsRight)

          // slice post except top 5 post
          const tempPosts = data.Data.slice(5, data.Data.length)
          tempPosts.map((item) => {
            if (item.ListSlide.length !== 0) {
              item.ListSlide.map((slide) => {
                slide.ThumbUrl = setThumb(slide.ThumbImageUrls[0], this.screenSize >= 561 ? '4xLarge4x2' : '2xLarge')
                slide.PublishedAt = toTimeAgo(slide.PublishedAt)
              })
            }
          })
          this.listPosts.push(...tempPosts)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  data() {
    return {
      screenSize: 1200,
      page: 1,
      isDone: false,
      listSlideTop: [],
      listPosts: [],
      listPostsTopRight: [],
      structuredData: {
        '@context': 'https://schema.org/',
        '@type': 'WebSite',
        name: 'HitVN',
        alternateName: 'Hit: Tin nóng từng giây',
        url: 'https://hit.vn/'
      }
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  activated() {
    // Call fetch again if last fetch more than 60 sec ago
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.page = 1
      this.isDone = false
      this.listSlideTop = []
      this.listPosts = []
      this.listPostsTopRight = []
      this.$fetch()
    }
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  fetchOnServer: false,
  head() {
    return {
      title: 'Trang chủ',
      script: [{ type: 'application/ld+json', json: this.structuredData }]
    }
  }
}
</script>
