<template>
  <div>
    <template v-if="$fetchState.pending && listPosts.length === 0">
      <loader-list-post :screen-size="1000" />
    </template>
    <base-post
      v-for="(post, index) in listPosts"
      :key="index"
      v-observe-visibility="index === listPosts.length - 1 ? lazyLoadArticles : false"
      class="first:mt-6 mt-3"
      :post="post"
    />
    <template v-if="$fetchState.pending && listPosts.length">
      <loader-list-post :screen-size="1000" />
    </template>
  </div>
</template>
<script>
import { getTrendPosts } from '@/repositories/child/TrendRepository'
export default {
  async fetch() {
    try {
      await getTrendPosts(this.$nuxt.$route.params.id, this.pageSize, this.page).then(({ data }) => {
        if (data.Data.length) {
          this.listPosts.push(...data.Data)
        } else {
          this.isDone = true
        }
      })
    } catch (error) {
      if (error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      } else this.$nuxt.error({ statusCode: 500, message: error.message })
    }
  },
  fetchOnServer: false,
  data() {
    return {
      screenSize: 1200,
      page: 1,
      pageSize: 10,
      isDone: false,
      listPosts: [],
      publisherDetail: {}
    }
  },
  mounted() {
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    lazyLoadArticles(isVisible) {
      if (isVisible && !this.isDone) {
        this.page++
        this.$fetch()
      }
    }
  },
  head() {
    return {
      title: 'Xu hướng'
    }
  }
}
</script>
