<template>
  <div class="w-full grid grid-rows-4 grid-cols-12 gap-x-4 gap-y-2">
    <div class="wrap-slide row-span-4 col-span-12 lg:col-span-7">
      <div ref="carousel" v-swiper:myDirectiveSwiper="swiperOptions" class="swiper rounded-lg" :options="swiperOptions">
        <div class="swiper-wrapper">
          <div v-for="(item, index) in posts" :key="index" class="swiper-slide">
            <one-slide v-if="item.length === 1" :data="item" />
            <two-slide v-else-if="item.length === 2" :data="item" />
            <three-slide v-else-if="item.length === 3" :data="item" />
          </div>
        </div>
        <div slot="button-prev" class="slidePrev-btn slide-arrow slide-arrow__prev flex items-center justify-center">
          <arrow-left />
        </div>
        <div slot="button-next" class="slideNext-btn slide-arrow slide-arrow__next flex items-center justify-center">
          <arrow-right />
        </div>
        <div slot="pagination" class="swiper-pagination swiper-pagination-bullets"></div>
      </div>
    </div>
    <div v-for="post in listPostsTopRight" :key="post.Id" class="row-span-1 h-full col-span-12 lg:col-span-5">
      <div class="flex bg-white rounded-lg">
        <div class="flex-shrink-0">
          <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`">
            <img
              class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 lg:w-32 lg:h-full object-cover"
              :src="post.ThumbUrl"
              :alt="post.Title"
            />
          </nuxt-link>
          <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`">
            <img
              class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 lg:w-32 lg:h-full object-cover"
              :src="post.ThumbUrl"
              :alt="post.Title"
            />
          </nuxt-link>
        </div>
        <div class="my-3 mx-4 flex flex-col justify-between lg:my-1 lg:mx-2">
          <nuxt-link
            v-if="post.UrlSlug !== ''"
            :to="`/${post.UrlSlug}`"
            class="text-base leading-5 mt-0 block sm:text-xl sm:leading-6 sm:mt-1 lg:text-sm lg:leading-tight font-semibold text-gray-900 truncate-3-lines"
            >{{ post.Title }}</nuxt-link
          >
          <nuxt-link
            v-else
            :to="`/${post.Code}/${createUuid(post.Id)}`"
            class="text-base leading-5 mt-0 block sm:text-xl sm:leading-6 sm:mt-1 lg:text-sm lg:leading-tight font-semibold text-gray-900 truncate-3-lines"
            >{{ post.Title }}</nuxt-link
          >
          <div class="text-sm text-gray-400 leading-4 mt-0 sm:mt-1 sm:text-gray-200 sm:text-xs flex items-center">
            <nuxt-link :to="`/dau-bao/${post.PublisherCode}`"> {{ post.PublisherShortName }}</nuxt-link>
            <DotDivider class="mx-1" /> {{ post.PublishedAt }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ArrowRight from '@/assets/images/slide/arrowRight.svg'
import ArrowLeft from '@/assets/images/slide/arrowLeft.svg'
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
import { fromUUID } from '@/utils/uuid'
export default {
  directives: {
    swiper: directive
  },
  components: {
    ArrowLeft,
    ArrowRight,
    DotDivider
  },
  props: {
    posts: {
      type: Array,
      required: true
    },
    listPostsTopRight: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      swiperOptions: {
        autoplay: {
          delay: 4000,
          disableOnInteraction: true
        },
        loop: true,
        slidesPerView: 1,
        centeredSlides: false,
        spaceBetween: 0,
        autoPlay: true,
        navigation: {
          nextEl: '.slideNext-btn',
          prevEl: '.slidePrev-btn '
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          type: 'bullets',
          renderBullet(index, className) {
            return `<span class="${className} swiper-pagination-bullet-custom"><svg width="8" height="8" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">
<path d="M2.90616 0.453082C3.51027 -0.151027 4.48973 -0.151028 5.09384 0.453082L7.54692 2.90616C8.15103 3.51027 8.15103 4.48973 7.54692 5.09384L5.09384 7.54692C4.48973 8.15103 3.51027 8.15103 2.90616 7.54692L0.453082 5.09384C-0.151027 4.48973 -0.151028 3.51027 0.453082 2.90616L2.90616 0.453082Z" />
</svg></span>`
          }
        }
      }
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
<style lang="scss" scoped>
.wrap-slide {
  height: 220px;
  @media (min-width: 640px) {
    height: 420px;
  }
  width: 100%;
  .swiper {
    height: 100%;
    width: 100%;
    .swiper-slide {
    }
  }
}

.slide-arrow {
  display: none !important;
  @media (min-width: 640px) {
    display: flex !important;
  }
}

.slide-arrow {
  position: absolute;
  display: block;
  z-index: 10;
  top: 50%;
  line-height: 1;
  margin-top: -2em;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &.swiper-button-disabled {
    display: none;
  }
  &__prev {
    left: 12px;
    background: rgba(22, 15, 14, 0.4);
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }
  &__next {
    right: 12px;
    background: rgba(22, 15, 14, 0.4);
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }
  .material-icons {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 5px #333;
    line-height: 1;
  }
}

.swiper {
  /deep/ .swiper-pagination-bullet-custom {
    text-align: center;
    opacity: 0.7;
    background: #333;
    transition: all 0.5s;
    color: rgba(255, 255, 255, 0.4);
    fill: currentColor;
    &:hover {
      opacity: 1;
    }

    &.swiper-pagination-bullet-active {
      opacity: 1;
      color: rgba(255, 255, 255, 0.9);
      fill: currentColor;
    }
  }
}
</style>
