<template>
  <div class="bg-white w-full px-4 pt-3 pb-4 mb-3 rounded-lg">
    <select
      v-model="provinceCode"
      class="block w-full border border-gray-200 text-gray-700 py-1 px-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      @change="changeLocation"
    >
      <option v-for="province in weather.VietnamProvince" :key="province.ProvinceCode" :value="province.ProvinceCode">
        {{ province.ProvinceName }}
      </option>
    </select>
    <div class="py-3 border-b border-gray-100 flex items-center justify-between">
      <div>
        <h1 class="text-base leading-5.5 font-bold text-gray-900">{{ weather.ProvinceName }}</h1>
        <p class="mt-1 text-xs text-gray-400 leading-4 font-semibold">{{ today }}</p>
      </div>
      <div class="flex items-center">
        <img
          class="w-10 h-10"
          :src="weather.CurrentWeather.weatherIconUrl"
          :alt="weather.CurrentWeather.weatherDescription"
        />
        <div class="ml-4">
          <p class="mb-px text-2xl text-orange-500 leading-6 font-light">{{ weather.CurrentWeather.tempCurrent }}°C</p>
          <p class="mt-px text-xs leading-4 text-gray-900">{{ weather.CurrentWeather.weatherMain }}</p>
        </div>
      </div>
    </div>
    <div class="mx-1 mt-4 flex justify-between">
      <div class="flex flex-col items-center">
        <p class="txt-today">Sáng</p>
        <p class="txt-temp">{{ weather.DailyForecast[0].tempMorn }}°C</p>
      </div>
      <div class="flex flex-col items-center">
        <p class="txt-today">Trưa</p>
        <p class="txt-temp">{{ weather.DailyForecast[0].tempAft }}°C</p>
      </div>
      <div class="flex flex-col items-center">
        <p class="txt-today">Chiều</p>
        <p class="txt-temp">{{ weather.DailyForecast[0].tempEve }}°C</p>
      </div>
      <div class="flex flex-col items-center">
        <p class="txt-today">Tối</p>
        <p class="txt-temp">{{ weather.DailyForecast[0].tempNight }}°C</p>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { format } from 'date-fns'
import { vi } from 'date-fns/locale'
export default {
  data() {
    return {
      provinceCode: this.$cookiz.get('provinceCode'),
      today: format(new Date(), 'EEEE, dd/MM/yyyy', { locale: vi })
    }
  },
  computed: {
    ...mapGetters({
      weather: 'weather/weather'
    })
  },
  methods: {
    async changeLocation() {
      this.$cookiz.set('provinceCode', this.provinceCode)
      await this.$store.dispatch('weather/setWeather')
    }
  }
}
</script>
<style lang="scss" scoped>
.txt-today {
  @apply text-xs text-gray-400 leading-4 font-semibold;
}
.txt-temp {
  @apply mt-1 text-base text-orange-500 leading-5 font-normal;
}
</style>
