<template>
  <div v-if="isShow" :class="`${screenSize < 1024 ? 'backToTopBoxHigher' : 'backToTopBox'}`" @click="scrollToTop()">
    <IconToTop class="font-bold text-xl" />
  </div>
</template>
<script>
import IconToTop from '@/assets/images/common/back-to-top.svg'
export default {
  components: {
    IconToTop
  },
  data() {
    return {
      isShow: false,
      intervalId: 0,
      screenSize: 1200
    }
  },
  mounted() {
    window.addEventListener('scroll', this.listenToScroll)
    this.listenToResize()
    window.addEventListener('resize', this.listenToResize)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.listenToScroll)
    window.removeEventListener('resize', this.listenToResize)
  },
  methods: {
    listenToResize() {
      const width = document.documentElement.clientWidth
      this.screenSize = width
    },
    listenToScroll() {
      const winScroll = document.body.scrollTop || document.documentElement.scrollTop
      this.isShow = winScroll > 500
    },
    scrollToTop() {
      this.intervalId = setInterval(this.scrollStep.bind(this), 5)
    },
    scrollStep() {
      if (window.pageYOffset === 0) {
        clearInterval(this.intervalId)
      }
      window.scroll(0, window.pageYOffset - 500)
    }
  }
}
</script>
<style lang="scss" scoped>
.backToTopBoxHigher {
  font-size: 1rem;
  z-index: 999;
  position: fixed;
  bottom: 12%;
  right: 2%;
  padding: 7px 9px;
  border-radius: 50%;
  background-color: #fdeeeb;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;

  > svg {
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: #ffc9be;

    > svg {
      top: -6px;
    }
  }
}

.backToTopBox {
  position: fixed;
  z-index: 999;
  bottom: 8%;
  right: 2%;
  padding: 7px 9px;
  border-radius: 50%;
  background-color: #fdeeeb;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;

  > svg {
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: #ffc9be;

    > svg {
      top: -6px;
    }
  }
}
</style>
