<template>
  <div class="w-full h-auto flex bg-white rounded-lg">
    <div class="flex-shrink-0">
      <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`">
        <img class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 object-cover" :src="setThumb" :alt="post.Title" />
      </nuxt-link>
      <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`">
        <img class="rounded-l-lg w-28 h-32 sm:w-64 sm:h-40 object-cover" :src="setThumb" :alt="post.Title" />
      </nuxt-link>
    </div>
    <div class="my-3 mx-4 flex flex-col justify-between">
      <div>
        <nuxt-link v-if="post.UrlSlug !== ''" :to="`/${post.UrlSlug}`"
          ><h4
            class="text-base leading-5 sm:leading-7 sm:text-xl font-semibold text-gray-900 truncate-3-lines sm:truncate-2-lines"
          >
            {{ post.Title }}
          </h4></nuxt-link
        >
        <nuxt-link v-else :to="`/${post.Code}/${createUuid(post.Id)}`"
          ><h4
            class="text-base leading-5 sm:leading-7 sm:text-xl font-semibold text-gray-900 truncate-3-lines sm:truncate-2-lines"
          >
            {{ post.Title }}
          </h4></nuxt-link
        >
        <p class="hidden sm:block sm:truncate-2-lines mt-3 text-sm leading-5 text-gray-200">
          {{ post.Abstract }}
        </p>
      </div>
      <div class="text-gray-400 text-sm leading-4 flex items-center">
        <nuxt-link :to="`/dau-bao/${post.PublisherCode}`"> {{ post.PublisherShortName }}</nuxt-link>
        <DotDivider class="mx-1" /> {{ setPublishedAt }}
      </div>
    </div>
  </div>
</template>
<script>
import DotDivider from '@/assets/images/common/DotDivider.svg'
import { toTimeAgo } from '@/utils/formatTime.js'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    DotDivider
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    setThumb() {
      const arr = this.post.ThumbImageUrls[0].split('/')
      arr.splice(arr.length - 1, 0, 'Medium')
      return arr.join('/').toString()
    },
    setPublishedAt() {
      return toTimeAgo(this.post.PublishedAt)
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
