<template>
  <div class="md:flex md:justify-between md:items-center mt-3 rounded-md">
    <div class="mt-4 md:mt-0 md:mr-2">
      <div class="text-xs text-orangeHit-600 font-semibold leading-4">{{ post.ViewCount }} views</div>
      <div v-if="!isVideos">
        <nuxt-link
          v-if="post.SubPost.UrlSlug !== ''"
          :to="`/${post.SubPost.UrlSlug}`"
          class="block text-xs leading-4 font-semibold text-gray-900 truncate-2-lines"
          >{{ post.SubPost.Title }}</nuxt-link
        >
        <nuxt-link
          v-else
          :to="`/${post.SubPost.Code}/${createUuid(post.SubPost.Id)}`"
          class="block text-xs leading-4 font-semibold text-gray-900 truncate-2-lines"
          >{{ post.SubPost.Title }}</nuxt-link
        >
      </div>
      <div v-else>
        <nuxt-link
          v-if="post.SubPost.UrlSlug !== ''"
          :to="`/video/${post.SubPost.UrlSlug}`"
          class="block text-xs leading-4 font-semibold text-gray-900 truncate-2-lines"
          >{{ post.SubPost.Title }}</nuxt-link
        >
        <nuxt-link
          v-else
          :to="`/video/${post.SubPost.Code}/${createUuid(post.SubPost.Id)}`"
          class="block text-xs leading-4 font-semibold text-gray-900 truncate-2-lines"
          >{{ post.SubPost.Title }}</nuxt-link
        >
      </div>
      <nuxt-link :to="`/dau-bao/${post.SubPost.PublisherCode}`">
        <div class="text-gray-600 text-xs flex items-center leading-4">
          {{ post.SubPost.PublisherShortName }}
        </div></nuxt-link
      >
    </div>
    <div class="md:flex-shrink-0 relative">
      <nuxt-link :to="`/${post.SubPost.UrlSlug}`">
        <img class="rounded-lg md:w-24 md:h-14" :src="setThumb" :alt="post.SubPost.Title" />
        <IconPlay v-if="isVideos" style="transform: translate(-50%, -50%)" class="absolute left-1/2 top-1/2" />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import IconPlay from '@/assets/images/common/PlayVideo.svg'
import { fromUUID } from '@/utils/uuid'
export default {
  components: {
    IconPlay
  },
  props: {
    isVideos: {
      type: Boolean,
      required: true
    },
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    setThumb() {
      if (this.isVideos) {
        const arr = this.post.SubPost.ThumbUrl.split('/')
        arr.splice(arr.length - 1, 0, 'Small')
        return arr.join('/').toString()
      } else {
        const arr = this.post.SubPost.ThumbImageUrls[0].split('/')
        arr.splice(arr.length - 1, 0, 'Small')
        return arr.join('/').toString()
      }
    }
  },
  methods: {
    createUuid: fromUUID
  }
}
</script>
