<template>
  <div class="hidden md:block">
    <span class="icon-close fixed z-100 text-white text-4xl font-bold cursor-pointer top-0" @click="closeModalImage()"
      >&times;</span
    >
    <div class="w-full h-full m-0 fixed left-0 top-0 z-50 bg-black flex flex-col justify-items-center">
      <div class="bg-transparent w-full fixed top-1/2 left-1/2" style="transform: translate(-50%, -50%)">
        <div
          v-for="(image, index) in listImages"
          :key="image.Url"
          :class="`text-center ${slideIndex === index ? 'block w-full h-full' : 'hidden'}`"
        >
          <img class="img-slide object-cover" :src="image.Url" alt="image" />
        </div>
        <span v-if="slideIndex !== 0" class="prev flex justify-center items-center" @click="prevSlide()"
          ><LeftArrow
        /></span>
        <span
          v-if="slideIndex !== listImages.length - 1"
          class="next flex justify-center items-center"
          @click="nextSlide()"
          ><RightArrow
        /></span>
      </div>
    </div>
  </div>
</template>
<script>
import LeftArrow from '@/assets/images/common/minimal-left.svg'
import RightArrow from '@/assets/images/common/minimal-right.svg'
export default {
  components: {
    LeftArrow,
    RightArrow
  },
  props: {
    listImages: {
      type: Array,
      required: false,
      default: () => []
    },
    slideIndex: {
      type: Number,
      required: true
    }
  },
  methods: {
    nextSlide() {
      if (this.slideIndex < this.listImages.length - 1) {
        const slideIndex = this.slideIndex + 1
        this.$emit('update:slideIndex', slideIndex)
      }
    },
    prevSlide() {
      if (this.slideIndex > 0) {
        const slideIndex = this.slideIndex - 1
        this.$emit('update:slideIndex', slideIndex)
      }
    },
    closeModalImage() {
      const isOpenModal = false
      this.$emit('update:isOpenModal', isOpenModal)
    }
  }
}
</script>
<style lang="scss" scoped>
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  line-height: 0;
  padding: 6px;
  margin-top: -22px;
  color: #fff;
  width: 40px;
  height: 40px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.prev {
  left: 6px;
}
.next {
  right: 6px;
}

.prev:hover,
.next:hover {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000000;
  opacity: 0.5;
}

.img-slide {
  width: 800px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-close {
  right: 15px;
}
</style>
