<template>
  <div>
    <content-loader :height="1200" :width="774" primary-color="#f3f3f3" secondary-color="#ecebeb">
      <rect x="0" y="48" rx="5" ry="5" width="774" height="32" />
      <rect x="0" y="85" rx="5" ry="5" width="600" height="32" />
      <rect x="0" y="139" rx="5" ry="5" width="371" height="20" />
      <rect x="0" y="199" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="229" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="259" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="289" rx="5" ry="5" width="600" height="20" />
      <rect x="30" y="340" rx="10" ry="10" width="714" height="385" />
      <rect x="0" y="769" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="804" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="838" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="874" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="910" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="948" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="985" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="1024" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="1062" rx="5" ry="5" width="774" height="20" />
      <rect x="0" y="1102" rx="5" ry="5" width="600" height="20" />
      <rect x="0" y="1139" rx="5" ry="5" width="774" height="20" />
    </content-loader>
  </div>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
