<template>
  <div class="bottom-0 z-999 left-0 fixed bg-orange-500 h-16 lg:hidden w-full">
    <div class="flex items-center justify-between p-3">
      <div class="flex items-center">
        <hit-bottom />
        <div class="ml-3">
          <h5 class="uppercase text-white text-base leading-5.5 font-semibold">Tải ứng dụng Hit ngay</h5>
          <h6 class="text-white text-sm leading-5 font-normal">Để không bỏ sót tin nóng</h6>
        </div>
      </div>
      <a href="https://app.hit.vn" target="_blank" rel="noopener noreferrer">
        <button class="cursor-pointer mr-1 text-orange-500 bg-white text-sm leading-4 font-bold px-3 py-2 rounded-md">
          Tải App
        </button></a
      >
    </div>
  </div>
</template>
<script>
import HitBottom from '@/assets/images/common/LogoHitBottom.svg'
export default {
  components: {
    HitBottom
  }
}
</script>
